<a href="https://colab.research.google.com/github/VINAYSKG/Python/blob/main/conditional_stmt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age = 2
if age >= 18:
  print("age is greater than 18")
else:
  print("age is not greater than 18")

age is not greater than 18

In [ ]:
a=int(input("enter you age: "))
if a >= 18:
  print("age is greater than 18")
else:
  print("age is not greater than 18")

enter you age: 23
age is greater than 18

In [ ]:
b=int(input("enter you age: "))
if b <= 12:
  print("travel for free")
else:
  print("pay for ticket")

enter you age: 11
travel for free

In [ ]:
A = input("enter your name: ")
if A == "vinay":
  print("yes")
else:
  print("no")

enter your name: vinay
yes

In [ ]:
#ternary operator or short hand condition
marks = int(input("enter your marks: "))
res = "pass" if marks >=35 else "fail"
print(res)

enter your marks: 65
pass

In [ ]:
#ternary operator or short hand condition
age = int(input("enter your age: "))
res = "adult" if age >=18 else "teenager"
print(res)

enter your age: 19
adult

In [ ]:
#ternary operator or short hand condition
name = str(input("enter your name: "))
res = "yes" if name == "vinay" else "no"
print(res)

enter your name: vinay
yes

In [ ]:
#elif used to handle multiple condition
mark1=int(input("enter your marks: "))
if mark1 <= 95:
  print("less than 98")
elif mark1 == 98:
  print("equal to 98")
else:
  print("greater than 98")

enter your marks: 94
less than 98

In [ ]:
age=int(input("enter your age: "))
if age <= 12:
  print("child")
elif age <= 18:
  print("teenage")
elif age <= 65:
  print("adult")
else:
  print("senior citizen")

enter your age: 23
adult

In [ ]:
#nested if
mark = int(input("enter you mark: "))
if mark >= 35:
  if mark >= 75:
    print("first class")
  else:
    print("second class")
else:
  print("fail")

enter you mark: 76
first class

In [ ]:
age = int(input("enter you age: "))
if age >= 18:
  if age >= 35:
    print("Adult")
  else:
    print("Teenage")
else:
  print("Child")

enter you age: 65
Adult

In [ ]:
a12=int(input("enter a number: "))
if a12 % 3==0 and a12 % 5==0:
  print("divisible by 3 and 5")
else:
  print("not divisible by 3 and 5")

enter a number: 9
not divisible by 3 and 5

In [ ]:
num=int(input("Enter a number: "))
if num % 2==0:
  print("Even Number")
else:
  print("Odd Number")

Enter a number: 3
Odd Number

In [ ]:
num1=int(input("Enter a Number: "))
if num1 >=0:
  if num1 % 2==0:
    print("Even Number")
  else:
    print("Odd Number")
else:
  print("Negative Number")

Enter a Number: -9
Negative Number

In [ ]:
#take 3 number as user input and find greatest of all three numbers
a = int(input("enter a number: "))
b = int(input("enter a number: "))
c = int(input("enter a number: "))
if a > b and a > c:
  print("a is greater")
elif b > a and b > c:
  print("b is greater")
else:
  print("c is greater")

enter a number: 67
enter a number: 65
enter a number: 3
a is greater