<a href="https://colab.research.google.com/github/VINAYSKG/Python/blob/main/Intro_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#defining variables(single line comment)
"""first variable is int (use double quotes triple times or single quote triple times for multiple line comment)
second variable is string
third variable is float"""
a=10.5
a1='Vinay'
a2='202'
print(type(a))
print(type(a1))

<class 'float'>
<class 'str'>

In [ ]:
#case sensitive
NAME='Vinay'
Name='Gupta'
print(NAME)
print(Name)

Vinay
Gupta

In [ ]:
a_21=True
print(type(a_21))

<class 'bool'>

In [ ]:
_qw='Vinay' #always start identifier with letter or _
print(_qw)

Vinay

In [ ]:
True=34 #never use keyword as identifiers
print(True)

SyntaxError: cannot assign to True (ipython-input-16-3503406616.py, line 1)

In [ ]:
p=12;q=23;r=p+q
print(r)

35

In [ ]:
#type casting (changing datatype of defined variable)


w=34
print(type(w))
w1=float(w)
print(type(w1))
print(w1)

<class 'int'>
<class 'float'>
34.0

In [ ]:
print(37 or 32)

37