<a href="https://colab.research.google.com/github/VINAYSKG/Python/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i= 1
while i<=5:
  print("Vinay")
  i+=1

Vinay
Vinay
Vinay
Vinay
Vinay

In [ ]:
i=5
while i>=1:
  print("Vinay")
  i-=1

Vinay
Vinay
Vinay
Vinay
Vinay

In [ ]:
i=1
while i<=5:
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
i=5
while i>=1:
  print(i)
  i-=1

5
4
3
2
1

In [ ]:
i=2
while i<=20:
  print(i)
  i+=2

2
4
6
8
10
12
14
16
18
20

In [ ]:
num=int(input("Enter a number: "))
i=1
while i<=10:
  print(i*num)
  i+=1

Enter a number: 2
2
4
6
8
10
12
14
16
18
20

In [ ]:
i=1
while i<=10:
  if i % 2==0:
    print(f"{i} is an even number")
  else:
    print(f"{i} is an odd number")
  i+=1

1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number
7 is an odd number
8 is an even number
9 is an odd number
10 is an even number

In [ ]:
#for Loop
for i in range(5):
  print ("Vinay")

Vinay
Vinay
Vinay
Vinay
Vinay

In [ ]:
a12= int(input("enter a number"))
for i in range(1,11):
  print (i*a12)

enter a number2
2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(1,11):
  if i%2==0:
    print(i,"even number")
  else:
    print(i,"odd number")

1 odd number
2 even number
3 odd number
4 even number
5 odd number
6 even number
7 odd number
8 even number
9 odd number
10 even number

In [ ]:
#for loop
a1=0
b1=0
for i in range(1,11):
  if i%2==0:
   a1+=1
  else:
   b1+=1
print(f"count of {a1} even number")
print(f"count of {b1} odd number")

count of 5 even number
count of 5 odd number

In [ ]:
#for loop(break)
for i in range(7):
  if i==4:
    break
  print(i)

0
1
2
3

In [ ]:
#while loop (break)
i=0
while i<7:
  if i==4:
    break
  print(i)
  i+=1

0
1
2
3

In [ ]:
#for loop(continue)
for i in range(7):
  if i==4:
    continue
  print(i)

0
1
2
3
5
6

In [ ]:
#while loop (continue)
i=0
while i<7:
  if i==4:
   i+=1
   continue
  print(i)
  i+=1

0
1
2
3
5
6

In [ ]:
#for loop(pass)
for i in range(7):
  if i==3:
    pass
  print(i)

0
1
2
3
4
5
6

In [ ]:
# for loop even number
for i in range(1,21):
  if i%2==0:
    continue
  else:
    print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# for loop prime number
for num in range(2, 21):
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19

In [ ]:
a=0
for i in range (1,11):
  a+=i
  print(f"{a} total sum")

1 total sum
3 total sum
6 total sum
10 total sum
15 total sum
21 total sum
28 total sum
36 total sum
45 total sum
55 total sum

In [ ]:
a=0
i=1
while i <=10:
  a+=i
  i+=1
  print(f"{a} total_sum")

1 total_sum
3 total_sum
6 total_sum
10 total_sum
15 total_sum
21 total_sum
28 total_sum
36 total_sum
45 total_sum
55 total_sum

In [ ]:
#Nested Loop
for i in range (3):
  for j in range(2):
    print(i,j)
    #print(f'i={i}, j={j}')

0 0
0 1
1 0
1 1
2 0
2 1

In [ ]:
#Nested Loop 1 to 5 Table
for i in range (1,6):
  for j in range(1,11):
    print(i*j)

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50